@media only screen and (max-width: 768px) {
  .cont4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .cont4 .image {
    margin-top: 1rem;
  }
  .cont4 .cont-iii .invest {
    margin-top: 1rem;
  }
  .container2 .cont5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .container2 .icons {
    margin-top: 2rem;
  }
  .container3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 30px;
  }
  .container3 .img {
    width: 100%;
    height: 250px;
  }
  .container3 .mf .m1 {
    margin-top: 1rem;
  }
  .container7 .container4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container7 .container4 .container5 .cont7 {
    gap: 5rem;
  }
  .container7 .container4 .container5 .cont6 .ask {
    margin-top: 1rem;
  }
  .container7 .container4 .img {
    width: 100%;
    height: 400px;
  }
  .container8 .manage {
    margin-top: 6rem;
  }
  .container10 .container9 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .container10 .container9 .r2 .c1 {
    gap: 3.5rem;
  }
  .container10 .container9 .r2 .c3 {
    gap: 6rem;
  }
  .cont3 {
    overflow: scroll;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    display: none;
  }
  .cont4 .image {
    display: none;
  }
  .cont4 .cont-iii .invest {
    font-size: 28px;
    width: 90vw;
    margin: 0 auto;
  }
  .cont4 .image {
    width: 100%;
    height: 240px;
  }
  .container2 .cont5 .cont-iv .trust {
    font-size: 28px;
  }
  .container2 .cont5 .cont-iv .reg {
    font-size: 15px;
  }
  .container2 .cont5 .icons {
    gap: 1rem;
  }
  .container2 .cont5 .icons .img1 {
    width: 88px;
    height: 88px;
  }
  .container2 .cont5 .icons .img1 .img {
    width: 45px;
    height: 45px;
  }
  .container2 .cont5 .icons .img1 .t1 {
    font-size: 11.2px;
    text-align: start;
  }
  .container2 .cont5 .icons .img2 {
    width: 88px;
    height: 88px;
  }
  .container2 .cont5 .icons .img2 .img {
    width: 45px;
    height: 45px;
  }
  .container2 .cont5 .icons .img2 .t2 {
    font-size: 11.2px;
    text-align: start;
  }
  .container2 .cont5 .icons .img3 {
    width: 88px;
    height: 88px;
  }
  .container2 .cont5 .icons .img3 .img {
    width: 45px;
    height: 45px;
  }
  .container2 .cont5 .icons .img3 .t3 {
    font-size: 11.2px;
    text-align: start;
  }
  .container3 {
    margin-top: 4rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3rem;
  }
  .container3 .img {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .container3 .mf .learn {
    font-size: 26px;
    padding: 0;
    margin: 0 auto;
    width: 100vw;
    margin-left: auto;
  }
  .container3 .mf .i {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .container3 .mf .i .intro {
    font-size: 16px;
  }
  .container3 .mf .btn .button {
    width: 159px;
    height: 48px;
  }
  .container3 .mf .btn .play {
    width: 30px;
    height: 30px;
  }
  .container3 .mf .btn .wat .watch {
    font-size: 17px;
    margin-left: 3px;
  }
  .container7 .container4 .img {
    display: none;
  }
  .container7 .container4 .container5 .cont6 .ask {
    font-size: 30px;
  }
  .container7 .container4 .container5 .cont6 .you {
    font-size: 16px;
  }
  .container7 .container4 .container5 .cont7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container8 .icons .s1 {
    width: 152px;
    height: 46px;
  }
  .container10 .container9 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container10 .container9 .r2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer .icon {
    padding-top: 1rem;
  }
  .footer .copy {
    font-size: 11px;
  }
}
/*# sourceMappingURL=mobile.css.map */