
// @media only screen and (min-width: 1400px) {
// .container{
// .cont2 {
//   width: 1320px;
//   margin: 0 auto;
// }
// }//container end
// .cont3{
//   width: 1320px;
//   margin: 0 auto;
// }//cont3 end
// .cont4{
//   width: 1320px;
//   margin: 0 auto;
// }
// .container2{
// .cont5{
//   width: 1320px;
//   margin: 0 auto;
// }
// }//container2 end
// .container3{
//   width: 1320px;
//   margin: 0 auto;
// }//container3 end
// .container7{
//   .container4{
//     width: 1320px;
//     margin: 0 auto;
//   }
// }
// .container10{
//   .container9{
//     width: 1320px;
//     margin: 0 auto;
//   }
// }







// }




@media only screen and (max-width: 768px) {
  .cont4 {
    flex-direction: column-reverse;
    .image{
      margin-top: 1rem;
    }
    .cont-iii{
      .invest{
        margin-top: 1rem;
      }//invest end
    }//cont-iii end
  } //cont4 end
  .container2 {
    .cont5 {
     flex-direction: column;
      gap: 1rem;
    } //cont5 end
    .icons{
      margin-top: 2rem;
    }
  } //container2 end

  .container3 {
    flex-direction: column;
    gap: 20px;
    padding: 0;
    align-items: flex-start;
    padding-bottom: 30px;
    .img {
      width: 100%;
      height: 250px;
    }
    .mf{
      .m1{
        margin-top: 1rem;
      }//m1 end
    }//mf end
  } //container3 end

  .container7 {
    .container4 {
      flex-direction: column-reverse;
      .container5{
        .cont7{
          gap: 5rem;
          
        }//cont7 end
        .cont6{
          .ask{
            margin-top: 1rem;
          }//ask end
        }//cont6 end

      }//container5 end
      .img {
        width: 100%;
        height: 400px;
      }
    } //container4 end
  } //container7 end
.container8{
  .manage{
    margin-top: 6rem;
  }//manage end
}//container8 end



  .container10 {
    .container9 {
      flex-direction: column;
      gap: 30px;
      .r2{
        .c1{
          gap: 3.5rem;
        }
        .c3{
          gap: 6rem;
        }
      }//r2 end
    } //container9 end
  } //container10 end
  .cont3 {
    overflow: scroll;
  } //cont3 end
}
@media only screen and  (max-width:320px){
  .container{
    display: none;
  }
  .cont4 {
    .image{
      display: none;
    }
    .cont-iii{
      .invest{
        font-size: 28px;
        width: 90vw;
        margin: 0 auto;
      }
    }
    .image {
      width: 100%;
      height: 240px;
    }//image end
  } //cont4 end
.container2{
  .cont5{
    .cont-iv{
      .trust{
        font-size: 28px;
      }//trust end
      .reg{
        font-size: 15px;
      }//reg end
    }//cont-iv end
    .icons{
      gap: 1rem;
      .img1{
        width: 88px;
        height: 88px;
        .img{
          width: 45px;
          height:45px
          
        }
        .t1{
          font-size: 11.2px;
          text-align: start;
        }
      }//img1 end
      .img2{
        width: 88px;
        height: 88px;
        .img{
          width: 45px;
          height:45px
          
        }
        .t2{
          font-size: 11.2px;
          text-align: start;
        }
      }//img2 end
      .img3{
        width: 88px;
        height: 88px;
        .img{
          width: 45px;
          height:45px
          
        }
        .t3{
          font-size: 11.2px;
          text-align: start;
        }
      }//img3 end
    }//icons end
  }//cont5 end
}//container2 end
.container3{
  margin-top: 4rem;
  align-items: center;
  margin-bottom: 3rem;
  .img{
    width: 100%;
    height: fit-content;
  }
  .mf{
    .learn{
      font-size: 26px;
      padding: 0;
      margin:0 auto ;
      width: 100vw;
      margin-left: auto;
    }
    .i{
     
      align-items: start;
      .intro{
        font-size: 16px;
      }//intro end
    }//i end
    .btn{
      //width: 100vw;
      .button{
        width: 159px;
        height: 48px;
      }
      .play{
        width: 30px;
        height: 30px;
      }
    
    .wat{
      .watch{
        font-size: 17px;
        margin-left: 3px  ;     }//watch end
    }//wat end
  }//btn end
  }//mf end
}//container3 end
.container7{
  .container4{
    .img{
      display: none;
    }
      .container5{
        .cont6{
          .ask{
            font-size: 30px;
          }
          .you{
            font-size: 16px;
          }
        }//cont6 end
        .cont7{
          flex-direction: column;
        }
      }
    
  }//container4 end
}//container7 end
.container8{
  .icons{
    .s1{
      width: 152px;
      height: 46px;
    }
  }
}

.container10{
.container9{
  align-items: flex-start;
  .r2{
    flex-direction: column;
  }
}//container9 end
}//container10end

.footer{
  flex-direction: column-reverse;
  .icon{
    padding-top: 1rem;
  }
  .copy{
    font-size: 11px;
  }
}



}
