@font-face {
  font-family: Avenir;
  src: url(./workshop-practice-1/assets/fonts/AvenirLTStd-Book.otf);
}
@font-face {
  font-family: Futura_Medium;
  src: url(./workshop-practice-1/assets/fonts/Futura_Medium.otf);
}
@font-face {
  font-family: FuturaBT;
  src: url(./workshop-practice-1/assets/fonts/futura_book_bt.ttf);
}
@font-face {
  font-family: Avenir_Medium;
  src: url(./workshop-practice-1/assets/fonts/Avenir_Medium.ttf);
}
@font-face {
  font-family: Avenir_Heavy;
  src: url(./workshop-practice-1/assets/fonts/Avenir_Heavy.ttf);
}
@font-face {
  font-family: FuturaBT_book;
  src: url(./workshop-practice-1/assets/fonts/futura_book_bt.ttf);
}
body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  //align-items: center;
} //flex end
.flexcol {
  display: flex;
  flex-direction: column;
} //flexcol end
.avenir_medium {
  font-family: Avenir_Medium;
}
.avenir_heavy {
  font-family: Avenir_Heavy;
}
.futuramedium {
  font-family: Futura_Medium;
}
.futurabtbook {
  font-family: FuturaBT_book;
}
.xxlarge {
  width: 1320px;
}
.container-fluid {
  background-color: #e4faf4;
  .cont2 {
    margin: 0 auto;
    width: 80vw;
    justify-content: flex-end;
    align-items: center;
    font-size: 13px;
    line-height: 17.76px;
    color: #222222;

    .pad1 {
      padding: 0.5% 1%;

      border-right: 1px solid #dadce0;
    } //pad1 end
    .pad{
      margin-left: 5px;
    }
  } //cont2 end
} //container-fluid end
.cont3 {
  margin: 0 auto;
  width: 80vw;
  align-items: center;
  flex-direction: row;

  justify-content: space-between;
  padding: 2.5% 0;
  //overflow: scroll;
  .cont-i {
    .pad {
      padding-right: 10px;
    }
  }
  .cont-ii {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    //padding: 1.5rem;
    .sbox {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background-color: #f5f5f5;
      gap: 5px;
      border-radius: 6px;
      padding: 10px;
      opacity: 0.5;
      .search {
        border: transparent;
        background-color: #f5f5f5;
      } //search end
    } //sbox end
    .pad {
      padding-left:  1rem;
    } //pad end
  } //cont-ii end
} //cont3 end
.cont4 {
  margin: 0 auto;
  width: 80vw;
  gap: 15%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // gap: 1%;

  .cont-iii {
    .invest {
      .easy {
        // background: linear-gradient(
        //   1deg,
        //   rgb(132, 211, 132) 5%,
        //   transparent 50%
        // );
        font-weight: bold;
        position: relative;
         z-index: 1;
      }//easy end
      .easy::before{
        content: " ";
         position: absolute;
         bottom: 0.4rem;
        width: 5rem;
        height: 0.5rem;
        z-index: -1;
         background-color: aquamarine;
       }
      color: #222222;
      //font-family: FuturaBT;
      font-size: 40px;
      line-height: 47.95px;
      text-align: left;
    } //invest end
    .fast {
      color: #222222;
      font-family: Avenir;
      font-size: 17px;
      line-height: 29px;
      opacity: 0.699999988079071;
      //width: 455px;
      text-align: left;
    } //fast end
    .btn {
      background-color: #00d09c;
      border-radius: 4px;
      box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
      width: 209px;
      height: 52px;
      color: #ffffff;
      border: transparent;
      // font-family: Avenir;
      font-size: 18px;
      line-height: 24.59px;
      text-align: center;
      margin-top: 35px;
    } //btn end
  } //cont-iii end
} //cont4 end
.container2 {
  background-color: #e4faf4;

  .cont5 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80vw;
    padding: 3rem 0;
    background-color: #e4faf4;
    box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
    margin-top: 3%;
    gap: 17rem;
    .cont-iv {
      .trust {
        color: #222222;
        // font-family: Futura;
        font-size: 30px;
        letter-spacing: 2px;
        text-align: left;
      } //trust end
      .reg {
        color: #222222;
        font-family: Avenir;
        font-size: 17px;
        line-height: 29px;
        opacity: 0.699999988079071;
        //width: 504px;
        text-align: left;
      }
    } //cont-iv end
  } //cont5 end
  .icons {
    flex-direction: row;
    color: #222222;
    //font-family: Avenir;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 2rem;
    .img1 {
      border: 1px solid rgba(0, 208, 156, 0.2);
      border-radius: 6px;
      padding: 1rem;

      .img {
        width: 60px;
        height: 60px;
      }
      .t1 {
        color: #222222;
        // font-family: Avenir;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.699999988079071;
        text-align: center;
        height: 19px;
        width: 78px;
      } //t1 end
    } //img1 end
    .img2 {
      border: 1px solid rgba(0, 208, 156, 0.2);
      border-radius: 6px;
      padding: 1rem;
      .img {
        width: 60px;
        height: 60px;
      }
      .t2 {
        color: #222222;
        font-family: Avenir;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.699999988079071;
        text-align: center;
      }
    }
    .img3 {
      border: 1px solid rgba(0, 208, 156, 0.2);
      border-radius: 6px;
      padding: 1rem;
      .img {
        width: 60px;
        height: 60px;
      }
      .t3 {
        color: #222222;
        font-family: Avenir;
        font-size: 14px;
        line-height: 19px;
        opacity: 0.699999988079071;
        text-align: center;
        height: 19px;
        width: 86px;
      }
    } //img3 end
  } //icons
} //container2 end
.container3 {
  margin: 0 auto;
  width: 80vw;
  align-items: center;
  flex-direction: row;

  //justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 10rem;
  // padding: 3%;
  margin-top: 8rem;
  .img {
    width: 50%;
  }
  .mf {
    margin-left: 10%;
    .m1 {
      color: #222222;
      // font-family: Avenir;
      font-size: 17px;
      line-height: 28px;
      opacity: 0.699999988079071;
      text-align: left;
    } //m1 end
    .learn {
      color: #222222;
      // font-family: Futura;
      font-size: 40px;
      line-height: 52px;
      text-align: left;
      letter-spacing: 2px;
      padding: 1rem 0;
    } //learn end
    .i {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      padding-bottom: 1rem;
      letter-spacing: 0.4px;
      .intro {
        color: #222222;
        font-family: Avenir;
        font-size: 17px;
        line-height: 28px;
        opacity: 0.699999988079071;
        text-align: left;
        padding-left: 10px;
      }
    } //i end
    .btn {
      flex-direction: row;
      align-items: center;
      .button {
        color: #ffffff;
        //font-family: Avenir;
        font-size: 18px;
        line-height: 24.59px;
        text-align: center;
        border: none;
        background-color: #00d09c;
        border-radius: 4px;
        box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
        //  padding: 3px 20px;
        width: 163px;
        height: 52px;
        //margin-left: 12px;
      } //button end
    } //btn end
    .wat {
      flex-direction: row;
      //justify-content: space-between;
      align-items: center;
      .watch {
        color: #00d09c;
        font-family: Avenir;
        font-size: 19px;
        line-height: 28px;
        text-align: left;
        padding: 10px;
        margin-left: 12px;
      } //watch end
    } //wat end
  } //mf end
} //container3 end

.container7 {
  background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);
  .container4 {
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    gap: 5rem;
    .container5 {
      display: flex;
      flex-direction: column;
      align-items: left;

      .cont6 {
        .ask {
          color: #222222;
          //font-family: Futura;
          font-size: 40px;
          line-height: 52px;
          text-align: left;
          letter-spacing: 2px;
        } //ask end
        .you {
          color: #222222;
          //font-family: Avenir;
          font-size: 17px;
          line-height: 29px;
          opacity: 0.699999988079071;
          text-align: left;
          margin-top: 1rem;
          font-weight: unset;
        } //you end
      } //cont6 end
      .cont7 {
        flex-direction: row;
        align-items: center;
        gap: 15%;
        .investing {
          .cash {
            background-color: #e8f9f5;
            border-radius: 4px;
            padding: 1rem;
            height: 63px;
            width: 57px;
          }
          .invest {
            color: #222222;
            font-family: FuturaBT;
            font-size: 24px;
            line-height: 28.77px;
            text-align: left;
            margin-top: 2rem;
            letter-spacing: 0.5px;
          } //invest end
          .three {
            color: #222222;
            font-family: Avenir;
            font-size: 17px;
            line-height: 29px;
            opacity: 0.699999988079071;

            text-align: left;
          } //three end
          .btn {
            color: #ffffff;
            //font-family: Avenir;
            font-size: 18px;
            line-height: 24.59px;
            text-align: center;
            border: none;
            background-color: #00d09c;
            border-radius: 4px;
            box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
            // padding: 5px 10px;
            width: 159px;
            height: 52px;
          }
        } //investing end
        .schedule {
          .cash {
            background-color: #e8f9f5;
            border-radius: 4px;
            padding: 1rem;
            height: 63px;
            width: 57px;
          }
          .invest {
            color: #222222;
            font-family: FuturaBT;
            font-size: 24px;
            line-height: 28.77px;
            text-align: left;
            margin-top: 2rem;
            letter-spacing: 0.5px;
          } //invest end
          .expert {
            color: #222222;
            font-family: Avenir;
            font-size: 17px;
            line-height: 29px;
            opacity: 0.699999988079071;

            text-align: left;
          } //expert end
          .btn {
            color: #ffffff;
            // font-family: Avenir;
            font-size: 18px;
            line-height: 24.59px;
            text-align: center;
            border: none;
            background-color: #00d09c;
            border-radius: 4px;
            box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
            // padding: 5px 10px;
            width: 159px;
            height: 52px;
          } //btn end
        } //schedule end
      } //cont7 end
    } //container5 end
    .img {
      width: 28rem;
      // padding: 2%;
      margin-top: 3rem;
    }
  } //container4 end
} //container7 end
.container8 {
  margin: 0 auto;
  width: 80vw;
  margin-top: 6%;
  .manage {
    color: #222222;
    font-family: FuturaBT;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    margin-top: 12rem;
  } //manage end
  .now {
    color: #222222;
    font-family: Avenir;
    font-size: 17px;
    line-height: 29px;
    opacity: 0.699999988079071;
    padding-top: 1%;
    text-align: center;
  } //now end
  .dd {
    color: #222222;
    font-family: FuturaBT;
    font-size: 24px;
    margin-top: 3rem;
    text-align: center;
  } //dd end
  .icons {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    gap: 2%;
  } //icons end
  .fixed {
    position: fixed;
    bottom: 40px;
    right: 0;
  }
} //container8 end
.container10 {
  border-bottom: 1px solid #dadce0;
  padding-bottom: 10px;
  box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
  .container9 {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 80vw;
    margin-top: 10%;
    //gap: 30px;

    .r1 {
      .imag {
        width: 10rem;
      } //imag end

      .neo {
        color: #222222;
        //font-family: Futura;
        font-size: 30px;
        letter-spacing: 4.5px;

        text-align: left;
      } //neo end
    } //r1 end
    .r2 {
      display: flex;
      flex-direction: row;
      gap: 5rem;
      .c1 {
        gap: 2rem;

        .b1 {
          .quick {
            color: #222222;
            //font-family: Avenir;
            font-size: 17px;
            line-height: 23px;
            text-align: left;
            padding-top: 0.7rem;
          } //quick end
          .ex {
            color: #222222;
            font-family: Avenir;
            font-size: 15px;
            line-height: 20px;
            opacity: 0.699999988079071;
            text-align: left;
            padding-top: 0.7rem;
          } //ex end
        } //b1 end
        .b2 {
          .quick {
            color: #222222;
            //font-family: Avenir;
            font-size: 17px;
            line-height: 23px;
            text-align: left;
            padding-top: 0.7rem;
          } //quick end
          .ex {
            color: #222222;
            font-family: Avenir;
            font-size: 15px;
            line-height: 20px;
            opacity: 0.699999988079071;
            text-align: left;
            padding-top: 0.7rem;
          } //ex end
        } //b2 end
      } //c1 end
      .c2 {
        gap: 2rem;
        .b3 {
          .quick {
            color: #222222;
            //font-family: Avenir;
            font-size: 17px;
            line-height: 23px;
            text-align: left;
            padding-top: 0.7rem;
          } //quick end
          .ex {
            color: #222222;
            font-family: Avenir;
            font-size: 15px;
            line-height: 20px;
            opacity: 0.699999988079071;
            text-align: left;
            padding-top: 0.7rem;
          } //ex end
        } //b3 end

        .b4 {
          .quick {
            color: #222222;
            //font-family: Avenir;
            font-size: 17px;
            line-height: 23px;
            text-align: left;
            padding-top: 0.7rem;
          } //quick end
          .ex {
            color: #222222;
            font-family: Avenir;
            font-size: 15px;
            line-height: 20px;
            opacity: 0.699999988079071;
            text-align: left;
            padding-top: 0.7rem;
          } //ex end
        } //b4 end
      } //c2 end
      .c3 {
        gap: 4.5rem;
        //gap: 2rem;
        //align-items:left;
        .b5 {
          .quick {
            color: #222222;
            //font-family: Avenir;
            font-size: 17px;
            line-height: 23px;
            text-align: left;
            padding-top: 0.7rem;
          } //quick end
          .ex {
            color: #222222;
            font-family: Avenir;
            font-size: 15px;
            line-height: 20px;
            opacity: 0.699999988079071;
            text-align: left;
            padding-top: 0.7rem;
          } //ex end
        } //b5 end
        .b6 {
          .quick {
            color: #222222;
            // font-family: Avenir;
            font-size: 17px;
            line-height: 23px;
            text-align: left;
          } //quick end
          .image {
            padding-top: 0.7rem;
          } //image end
        } //b6 end
      } //c3 end
    } //r2 end
  } //container9 end
} //container10 end
.footer {
  margin: 0 auto;
  width: 80vw;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  .copy {
    color: #222222;
    font-family: Avenir;
    font-size: 12px;
    line-height: 30px;
    opacity: 0.699999988079071;
    text-align: left;
  } //copy end
  .icon {
    padding: 1%;
    .social {
      padding-right: 20px;
    } //social end
  } //icon end
} //footer end
