@font-face {
  font-family: Avenir;
  src: url(./workshop-practice-1/assets/fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: Futura_Medium;
  src: url(./workshop-practice-1/assets/fonts/Futura_Medium.otf);
}

@font-face {
  font-family: FuturaBT;
  src: url(./workshop-practice-1/assets/fonts/futura_book_bt.ttf);
}

@font-face {
  font-family: Avenir_Medium;
  src: url(./workshop-practice-1/assets/fonts/Avenir_Medium.ttf);
}

@font-face {
  font-family: Avenir_Heavy;
  src: url(./workshop-practice-1/assets/fonts/Avenir_Heavy.ttf);
}

@font-face {
  font-family: FuturaBT_book;
  src: url(./workshop-practice-1/assets/fonts/futura_book_bt.ttf);
}

body {
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexcol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.avenir_medium {
  font-family: Avenir_Medium;
}

.avenir_heavy {
  font-family: Avenir_Heavy;
}

.futuramedium {
  font-family: Futura_Medium;
}

.futurabtbook {
  font-family: FuturaBT_book;
}

.xxlarge {
  width: 1320px;
}

.container-fluid {
  background-color: #e4faf4;
}

.container-fluid .cont2 {
  margin: 0 auto;
  width: 80vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  line-height: 17.76px;
  color: #222222;
}

.container-fluid .cont2 .pad1 {
  padding: 0.5% 1%;
  border-right: 1px solid #dadce0;
}

.container-fluid .cont2 .pad {
  margin-left: 5px;
}

.cont3 {
  margin: 0 auto;
  width: 80vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5% 0;
}

.cont3 .cont-i .pad {
  padding-right: 10px;
}

.cont3 .cont-ii {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont3 .cont-ii .sbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f5f5f5;
  gap: 5px;
  border-radius: 6px;
  padding: 10px;
  opacity: 0.5;
}

.cont3 .cont-ii .sbox .search {
  border: transparent;
  background-color: #f5f5f5;
}

.cont3 .cont-ii .pad {
  padding-left: 1rem;
}

.cont4 {
  margin: 0 auto;
  width: 80vw;
  gap: 15%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cont4 .cont-iii .invest {
  color: #222222;
  font-size: 40px;
  line-height: 47.95px;
  text-align: left;
}

.cont4 .cont-iii .invest .easy {
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.cont4 .cont-iii .invest .easy::before {
  content: " ";
  position: absolute;
  bottom: 0.4rem;
  width: 5rem;
  height: 0.5rem;
  z-index: -1;
  background-color: aquamarine;
}

.cont4 .cont-iii .fast {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
}

.cont4 .cont-iii .btn {
  background-color: #00d09c;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  width: 209px;
  height: 52px;
  color: #ffffff;
  border: transparent;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  margin-top: 35px;
}

.container2 {
  background-color: #e4faf4;
}

.container2 .cont5 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 80vw;
  padding: 3rem 0;
  background-color: #e4faf4;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  margin-top: 3%;
  gap: 17rem;
}

.container2 .cont5 .cont-iv .trust {
  color: #222222;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: left;
}

.container2 .cont5 .cont-iv .reg {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
}

.container2 .icons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #222222;
  font-size: 14px;
  line-height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

.container2 .icons .img1 {
  border: 1px solid rgba(0, 208, 156, 0.2);
  border-radius: 6px;
  padding: 1rem;
}

.container2 .icons .img1 .img {
  width: 60px;
  height: 60px;
}

.container2 .icons .img1 .t1 {
  color: #222222;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.699999988079071;
  text-align: center;
  height: 19px;
  width: 78px;
}

.container2 .icons .img2 {
  border: 1px solid rgba(0, 208, 156, 0.2);
  border-radius: 6px;
  padding: 1rem;
}

.container2 .icons .img2 .img {
  width: 60px;
  height: 60px;
}

.container2 .icons .img2 .t2 {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.699999988079071;
  text-align: center;
}

.container2 .icons .img3 {
  border: 1px solid rgba(0, 208, 156, 0.2);
  border-radius: 6px;
  padding: 1rem;
}

.container2 .icons .img3 .img {
  width: 60px;
  height: 60px;
}

.container2 .icons .img3 .t3 {
  color: #222222;
  font-family: Avenir;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.699999988079071;
  text-align: center;
  height: 19px;
  width: 86px;
}

.container3 {
  margin: 0 auto;
  width: 80vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-top: 8rem;
}

.container3 .img {
  width: 50%;
}

.container3 .mf {
  margin-left: 10%;
}

.container3 .mf .m1 {
  color: #222222;
  font-size: 17px;
  line-height: 28px;
  opacity: 0.699999988079071;
  text-align: left;
}

.container3 .mf .learn {
  color: #222222;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  letter-spacing: 2px;
  padding: 1rem 0;
}

.container3 .mf .i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
  padding-bottom: 1rem;
  letter-spacing: 0.4px;
}

.container3 .mf .i .intro {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 28px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-left: 10px;
}

.container3 .mf .btn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container3 .mf .btn .button {
  color: #ffffff;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  border: none;
  background-color: #00d09c;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  width: 163px;
  height: 52px;
}

.container3 .mf .wat {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container3 .mf .wat .watch {
  color: #00d09c;
  font-family: Avenir;
  font-size: 19px;
  line-height: 28px;
  text-align: left;
  padding: 10px;
  margin-left: 12px;
}

.container7 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4faf4), to(#ffffff));
  background-image: linear-gradient(180deg, #e4faf4 0%, #ffffff 100%);
}

.container7 .container4 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 80vw;
  gap: 5rem;
}

.container7 .container4 .container5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.container7 .container4 .container5 .cont6 .ask {
  color: #222222;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  letter-spacing: 2px;
}

.container7 .container4 .container5 .cont6 .you {
  color: #222222;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
  margin-top: 1rem;
  font-weight: unset;
}

.container7 .container4 .container5 .cont7 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15%;
}

.container7 .container4 .container5 .cont7 .investing .cash {
  background-color: #e8f9f5;
  border-radius: 4px;
  padding: 1rem;
  height: 63px;
  width: 57px;
}

.container7 .container4 .container5 .cont7 .investing .invest {
  color: #222222;
  font-family: FuturaBT;
  font-size: 24px;
  line-height: 28.77px;
  text-align: left;
  margin-top: 2rem;
  letter-spacing: 0.5px;
}

.container7 .container4 .container5 .cont7 .investing .three {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
}

.container7 .container4 .container5 .cont7 .investing .btn {
  color: #ffffff;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  border: none;
  background-color: #00d09c;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  width: 159px;
  height: 52px;
}

.container7 .container4 .container5 .cont7 .schedule .cash {
  background-color: #e8f9f5;
  border-radius: 4px;
  padding: 1rem;
  height: 63px;
  width: 57px;
}

.container7 .container4 .container5 .cont7 .schedule .invest {
  color: #222222;
  font-family: FuturaBT;
  font-size: 24px;
  line-height: 28.77px;
  text-align: left;
  margin-top: 2rem;
  letter-spacing: 0.5px;
}

.container7 .container4 .container5 .cont7 .schedule .expert {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  text-align: left;
}

.container7 .container4 .container5 .cont7 .schedule .btn {
  color: #ffffff;
  font-size: 18px;
  line-height: 24.59px;
  text-align: center;
  border: none;
  background-color: #00d09c;
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
          box-shadow: 0 5px 20px 0 rgba(90, 202, 157, 0.05);
  width: 159px;
  height: 52px;
}

.container7 .container4 .img {
  width: 28rem;
  margin-top: 3rem;
}

.container8 {
  margin: 0 auto;
  width: 80vw;
  margin-top: 6%;
}

.container8 .manage {
  color: #222222;
  font-family: FuturaBT;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  margin-top: 12rem;
}

.container8 .now {
  color: #222222;
  font-family: Avenir;
  font-size: 17px;
  line-height: 29px;
  opacity: 0.699999988079071;
  padding-top: 1%;
  text-align: center;
}

.container8 .dd {
  color: #222222;
  font-family: FuturaBT;
  font-size: 24px;
  margin-top: 3rem;
  text-align: center;
}

.container8 .icons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2%;
  gap: 2%;
}

.container8 .fixed {
  position: fixed;
  bottom: 40px;
  right: 0;
}

.container10 {
  border-bottom: 1px solid #dadce0;
  padding-bottom: 10px;
  -webkit-box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 -35px 20px 0 rgba(0, 0, 0, 0.03);
}

.container10 .container9 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 80vw;
  margin-top: 10%;
}

.container10 .container9 .r1 .imag {
  width: 10rem;
}

.container10 .container9 .r1 .neo {
  color: #222222;
  font-size: 30px;
  letter-spacing: 4.5px;
  text-align: left;
}

.container10 .container9 .r2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5rem;
}

.container10 .container9 .r2 .c1 {
  gap: 2rem;
}

.container10 .container9 .r2 .c1 .b1 .quick {
  color: #222222;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding-top: 0.7rem;
}

.container10 .container9 .r2 .c1 .b1 .ex {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-top: 0.7rem;
}

.container10 .container9 .r2 .c1 .b2 .quick {
  color: #222222;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding-top: 0.7rem;
}

.container10 .container9 .r2 .c1 .b2 .ex {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-top: 0.7rem;
}

.container10 .container9 .r2 .c2 {
  gap: 2rem;
}

.container10 .container9 .r2 .c2 .b3 .quick {
  color: #222222;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding-top: 0.7rem;
}

.container10 .container9 .r2 .c2 .b3 .ex {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-top: 0.7rem;
}

.container10 .container9 .r2 .c2 .b4 .quick {
  color: #222222;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding-top: 0.7rem;
}

.container10 .container9 .r2 .c2 .b4 .ex {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-top: 0.7rem;
}

.container10 .container9 .r2 .c3 {
  gap: 4.5rem;
}

.container10 .container9 .r2 .c3 .b5 .quick {
  color: #222222;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
  padding-top: 0.7rem;
}

.container10 .container9 .r2 .c3 .b5 .ex {
  color: #222222;
  font-family: Avenir;
  font-size: 15px;
  line-height: 20px;
  opacity: 0.699999988079071;
  text-align: left;
  padding-top: 0.7rem;
}

.container10 .container9 .r2 .c3 .b6 .quick {
  color: #222222;
  font-size: 17px;
  line-height: 23px;
  text-align: left;
}

.container10 .container9 .r2 .c3 .b6 .image {
  padding-top: 0.7rem;
}

.footer {
  margin: 0 auto;
  width: 80vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .copy {
  color: #222222;
  font-family: Avenir;
  font-size: 12px;
  line-height: 30px;
  opacity: 0.699999988079071;
  text-align: left;
}

.footer .icon {
  padding: 1%;
}

.footer .icon .social {
  padding-right: 20px;
}
/*# sourceMappingURL=styles.css.map */